USE [RollingStone]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 3/31/2023 4:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Album](
	[AlbumID] [int] NOT NULL,
	[AlbumRank] [int] NULL,
	[AlbumTitle] [varchar](150) NULL,
	[ArtistID] [int] NULL,
 CONSTRAINT [pk_Album] PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 3/31/2023 4:09:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistID] [int] NOT NULL,
	[ArtistName] [varchar](150) NULL,
 CONSTRAINT [pk_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Album] ([AlbumID], [AlbumRank], [AlbumTitle], [ArtistID]) VALUES (1, 500, N'Aquemini', 172)
INSERT [dbo].[Album] ([AlbumID], [AlbumRank], [AlbumTitle], [ArtistID]) VALUES (2, 499, N'Live in Cook County Jail', 12)
INSERT [dbo].[Album] ([AlbumID], [AlbumRank], [AlbumTitle], [ArtistID]) VALUES (3, 498, N'The Stone Roses', 262)
GO
INSERT [dbo].[Artist] ([ArtistID], [ArtistName]) VALUES (1, N'A Tribe Called Quest')
INSERT [dbo].[Artist] ([ArtistID], [ArtistName]) VALUES (2, N'Abba')
INSERT [dbo].[Artist] ([ArtistID], [ArtistName]) VALUES (3, N'AC/DC')
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [fk_Album_Artist] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [fk_Album_Artist]
GO
